
.div{
    width: 150px;
    height: 150px;
    background-color: brown;
    animation-name: m;
    animation-duration: 4s;
    /* animation-fill-mode: forwards; */
    animation-direction: alternate-reverse~;
    position: absolute;

}

@keyframes m{
    0%{
        left: 0;
    }
    100%{
        left: calc(100% - 150px);
    }
}